<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
    <title>Narcos</title>
    <meta name="description" content="Multipurpose HTML5 Template" />
    <meta name="author" content="TeslaThemes" />
    <link rel="shortcut icon" href="img/favicon.png" type="image/x-icon" />

    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Style CSS -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans:400,400italic,700,700italic%7CSatisfy" />
    <link rel="stylesheet" href="css/vendors/icomoon.css" />    
    <link rel="stylesheet" href="css/screen.css" />
</head>
<body data-smooth-scroll="on">
	<div id="page">
		<!-- Search Form Wrapper -->
		<div class="search-form-wrapper">
			<form class="search-form">
				<input type="text" class="form-input check-value" placeholder="Start typing..." />
				<button class="form-submit">
					<i class="icon-search"></i>
				</button>
			</form>

			<span class="close-search-form-wrapper">
				<i class="icon-cross"></i>
			</span>
		</div>
		
		<!-- Video Popup -->
		<div class="popup-wrapper video-popup">
			<!-- Close Video Popup -->
			<span class="close-video-popup-toggle"></span>
			
			<div class="popup-inner-content">
				<div class="media-wrapper">
					<div class="responsive-media ratio16by9">
						<iframe src="https://player.vimeo.com/video/54763818?badge=0" allowfullscreen></iframe>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Quick View Popup -->
		<div class="popup-wrapper">
			<div class="popup-inner-content">
				<div class="quick-view-box">
					<!-- Close Popup -->
					<span class="close-popup-btn">
						<i class="icon-cross"></i>
					</span>

					<div class="row">
						<div class="col-md-14">
							<div class="photo-slider-wrapper">
								<div class="photo-slider clearfix">
									<!-- Navigation -->
									<div class="tt-carousel nav-carousel" data-items-desktop="4" data-items-small-desktop="3" data-items-tablet="2" data-items-phone="2" data-infinite="true" data-dots="false" data-arrows="false" data-items-to-slide="1" data-as-nav-for=".cover-photos-slider .slides-list" data-vertical="true">
										<ul class="clean-list carousel-items">
											<li class="carousel-item">
												<img src="img/product-nav-1.jpg" alt="product photo" />
											</li>

											<li class="carousel-item">
												<img src="img/product-nav-2.jpg" alt="product photo" />
											</li>


											<li class="carousel-item">
												<img src="img/product-nav-3.jpg" alt="product photo" />
											</li>

											<li class="carousel-item">
												<img src="img/product-nav-4.jpg" alt="product photo" />
											</li>
										</ul>
									</div>

									<!-- Main Photos -->
									<div class="tt-slider cover-photos-slider" data-fade="true" data-speed="700" data-dots="false" data-arrows="false" data-infinite="true" data-as-nav-for=".nav-carousel .carousel-items">
										<ul class="clean-list slides-list">
											<li class="slide">
												<img src="img/product-slider-1.jpg" alt="product cover" />
											</li>

											<li class="slide">
												<img src="img/product-slider-2.jpg" alt="product cover" />
											</li>

											<li class="slide">
												<img src="img/product-slider-3.jpg" alt="product cover" />
											</li>

											<li class="slide">
												<img src="img/product-slider-4.jpg" alt="product cover" />
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>

						<div class="col-md-10">
							<!-- Product Description Box -->
							<div class="single-product-description-box">
								<div class="box-header">
									<h3 class="product-title">Combined nylon jacket</h3>
								</div>

								<div class="box-body">
									<p>Revitalize, insurmountable challenges; respect; promising development end hunger participatory monitoring poverty cross-agency coordination efficient. Resourceful enabler, cause world problem solving save lives lifting people up social good. Bono transformative Rockefeller life-expectancy sustainable. Inspire social change legitimize governance.</p>

									<div class="rating-box">
										<i class="icon-star2"></i>
										<i class="icon-star2"></i>
										<i class="icon-star2"></i>
										<i class="icon-star2"></i>
										<i class="icon-star2"></i>
									</div>

									<div class="filters">
										<div class="quantity-block nr-filter">
											<input type="text" class="nr-only" value="1" readonly />
											<div class="actions">
												<span class="action add no-select">
													<i class="icon-caret-up"></i>
												</span>
												<span class="action substract no-select">
													<i class="icon-caret-down"></i>
												</span>
											</div>
										</div>

										<div class="fake-select-box">
											<input type="text" class="form-input check-value" placeholder="Select size" readonly />

											<ul class="clean-list select-options">
												<li class="option" data-value="xs">XS</li>
												<li class="option" data-value="s">S</li>
												<li class="option" data-value="m">M</li>
												<li class="option" data-value="L">L</li>
												<li class="option" data-value="xl">XL</li>
											</ul>
										</div>
									</div>

									<span class="product-price">29.90 usd</span>

									<div class="product-action">
										<a href="#" class="btn add-to-cart-btn">Add to bag</a>
									</div>


									<div class="tagcloud">
										<a href="#">Jacket</a>
										<a href="#">Fashion</a>
										<a href="#">Nylon</a>
										<a href="#">Men</a>
									</div>

									<div class="widget_categories">
										<ul>
											<li><a href="#">Jackets</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- Page Wrapper -->
		<div class="page-wrapper">
			<!-- Header -->
			<header class="main-header style-3">
				<a href="index.html" class="site-identity">
					<img src="img/brand.png" alt="site identity" />
				</a>

				<nav>
					<!-- Menu Items -->
					<ul>
						<li class="menu-item-has-children">
							<a href="index.html">Home</a>
							<ul class="children">
								<li>
									<a href="index-2.html">Creative layout</a>
								</li>
								<li>
									<a href="portfolio.html">Portfolio layout</a>
								</li>
								<li>
									<a href="shop.html">Shop layout</a>
								</li>
								<li>
									<a href="index-shop.html">Home Parallax</a>
								</li>
								<li>
									<a href="index-3.html">Video background</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="about.html">About</a>
						</li>
						<li class="menu-item-has-children">
							<a href="#">Portfolio</a>
							<ul class="children">
								<li class="menu-item-has-children">
									<a href="#">3 col layout</a>
									<ul class="children">
										<li>
											<a href="portfolio-3col-fit.html">Fit layout</a>
										</li>
										<li>
											<a href="portfolio-3col.html">Boxed layout</a>
										</li>
									</ul>
								</li>
								<li class="menu-item-has-children">
									<a href="#">2 col layout</a>
									<ul class="children">
										<li>
											<a href="portfolio-2col-fit.html">Fit layout</a>
										</li>
										<li>
											<a href="portfolio-2col.html">Boxed layout</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="portfolio-item.html">Portfolio item</a>
								</li>
							</ul>
						</li>
						<li class="menu-item-has-children">
							<a href="#">Blog</a>
							<ul class="children">
								<li>
									<a href="blog.html">No sidebar layout</a>
								</li>
								<li>
									<a href="blog-sidebar.html">Sidebar layout</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="contact.html">Contact</a>
						</li>
						<li class="current-menu-item menu-item-has-children">
							<a href="#">Shop</a>
							<ul class="children">
								<li>
									<a href="shop-categories.html">Shop categories</a>
								</li>
								<li>
									<a href="single-product.html">Single Product</a>
								</li>
							</ul>
						</li>
					</ul>

					<!-- Mobile Nav Toggle -->
					<span class="mobile-navigation-toggle">
						<span class="icon">
							<i class="line"></i>
							<i class="line"></i>
							<i class="line"></i>
						</span>

						<span class="menu-toggle-title">Menu</span>
					</span>

					<!-- Search Toggle -->
					<span class="search-toggle">
						<i class="icon-search"></i>
					</span>

					<!-- Shopping Cart -->
					<div class="shopping-cart-wrapper">
						<span class="cart-toggle no-select">
							<i class="icon-shoppingbag"></i>
							<span class="cart-items">1</span>
						</span>

						<div class="cart-items-wrapper">
							<ul class="clean-list cart-items">
								<li class="cart-item">
									<div class="image">
										<img src="img/cart-image-1.jpg" alt="cart item image" />
									</div>

									<a href="#" class="remove-product-from-cart">
										<i class="icon-cross"></i>
									</a>

									<h6 class="product-title">
										<a href="single-product.html">Combined nylon jacket</a>
									</h6>

									<span class="meta">1<sub>x</sub>29.90 usd</span>
								</li>
							</ul>

							<div class="subtotal">Subtotal: 29.90 usd</div>

							<ul class="clean-list cart-action clearfix">
								<li>
									<a href="cart.html" class="btn template-btn-1">view cart</a>
								</li>
								<li>
									<a href="checkout.html" class="btn template-btn-1">checkout</a>
								</li>
							</ul>
						</div>
					</div>
				</nav>
			</header>

			<!-- Main Content -->
			<div class="content-wrapper">
				<!-- Intro Box -->
				<div class="intro-box" data-parallax-bg="img/intro-box-shop.jpg">
					<div class="box-img-wrapper">
						<div class="box-img">
							<span></span>
						</div>
					</div>

					<div class="intro-box-inner container">
						<div class="box-content align-center">
							<h2 class="page-title">Shop</h2>
							<ul class="breadcrumb clean-list">
								<li><a href="index.html">Home</a></li>
								<li><a href="shop.html">Shop</a></li>
								<li>Single Product</li>
							</ul>
						</div>
					</div>

					<!-- Scroll Down Btn -->
					<a href="#" class="scroll-btn">
						<span class="icon"></span>
					</a>

					<!-- Rounded Border Bottom -->
					<div class="rounded-border-bottom">
						<span></span>
					</div>
				</div>

				<!-- Shop Section -->
				<div class="section section-shop no-margin">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-20 col-lg-offset-2">
								<div class="single-product-box-wrapper">
									<div class="row">
										<div class="col-md-12">
											<!-- Product Images -->
											<div class="photo-slider">
												<div class="tt-slider cover-photos-slider" data-fade="true" data-speed="700" data-dots="false" data-arrows="false" data-infinite="true" data-as-nav-for=".nav-carousel .carousel-items">
													<ul class="clean-list slides-list">
														<li class="slide">
															<img src="img/product-slider-1.jpg" alt="product cover" />
														</li>

														<li class="slide">
															<img src="img/product-slider-2.jpg" alt="product cover" />
														</li>

														<li class="slide">
															<img src="img/product-slider-3.jpg" alt="product cover" />
														</li>

														<li class="slide">
															<img src="img/product-slider-4.jpg" alt="product cover" />
														</li>
													</ul>
												</div>

												<!-- Navigation -->
												<div class="tt-carousel nav-carousel" data-items-desktop="4" data-items-small-desktop="3" data-items-tablet="2" data-items-phone="2" data-infinite="true" data-dots="true" data-arrows="false" data-items-to-slide="1" data-as-nav-for=".cover-photos-slider .slides-list">
													<ul class="clean-list carousel-items">
														<li class="carousel-item">
															<div class="image">
																<img src="img/product-nav-1.jpg" alt="product photo" />
															</div>
														</li>

														<li class="carousel-item">
															<div class="image">
																<img src="img/product-nav-2.jpg" alt="product photo" />
															</div>
														</li>


														<li class="carousel-item">
															<div class="image">
																<img src="img/product-nav-3.jpg" alt="product photo" />
															</div>
														</li>

														<li class="carousel-item">
															<div class="image">
																<img src="img/product-nav-4.jpg" alt="product photo" />
															</div>
														</li>
													</ul>
												</div>
											</div>
										</div>

										<div class="col-md-12">
											<!-- Product Description Box -->
											<div class="single-product-description-box">
												<div class="box-header">
													<h3 class="product-title">Combined nylon jacket</h3>
													<div class="rating-box">
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
													</div>
												</div>

												<div class="box-body">
													<p>Revitalize, insurmountable challenges; respect; promising development end hunger participatory monitoring poverty cross-agency coordination efficient. Resourceful enabler, cause world problem solving save lives lifting people up social good. Bono transformative Rockefeller life-expectancy sustainable. Inspire social change legitimize governance.</p>

													<ul>
														<li>Padded nylon outer</li>
														<li>Lined design</li>
														<li>Hooded neck</li>
														<li>Zip fastening</li>
														<li>Fitted cuffs</li>
														<li>Functional pockets</li>
														<li>Regular fit - true to size</li>
														<li>Machine wash</li>
														<li>100% Nylon</li>
													</ul>

													<div class="filters">
														<div class="quantity-block nr-filter">
															<input type="text" class="nr-only" value="1" readonly />
															<div class="actions">
																<span class="action add no-select">
																	<i class="icon-caret-up"></i>
																</span>
																<span class="action substract no-select">
																	<i class="icon-caret-down"></i>
																</span>
															</div>
														</div>

														<div class="fake-select-box">
															<input type="text" class="form-input check-value" placeholder="Select size" readonly />

															<ul class="clean-list select-options">
																<li class="option" data-value="xs">XS</li>
																<li class="option" data-value="s">S</li>
																<li class="option" data-value="m">M</li>
																<li class="option" data-value="L">L</li>
																<li class="option" data-value="xl">XL</li>
															</ul>
														</div>
													</div>

													<span class="product-price">29.90 usd</span>

													<div class="product-action">
														<a href="#" class="btn add-to-cart-btn">Add to bag</a>
													</div>


													<div class="tagcloud">
														<a href="#">Jacket</a>
														<a href="#">Fashion</a>
														<a href="#">Nylon</a>
														<a href="#">Men</a>
													</div>

													<div class="widget_categories">
														<ul>
															<li><a href="#">Jackets</a></li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="tabed-content checkout-tabs">
						<div class="tabs-header">
							<ul class="clean-list">
								<li data-tab-link="nr-1" class="tab-link">Description</li>
								<li data-tab-link="nr-2" class="tab-link current">Reviews (2)</li>
							</ul>
						</div>

						<div class="tabs-body">
							<div id="nr-1" class="tab-item">
								<div class="row">
									<div class="col-md-16 col-md-offset-2">
										<p class="small-title">Product Description</p>

										<p>Social challenges immunize benefit, policy dialogue harness fellows agenda governance. Nonprofit, Bill and Melinda Gates pathway to a better life Rosa Parks shift fighting poverty fight against malnutrition action. Citizenry, Gandhi; legal aid; human being dialogue. Breakthrough insights, enabler conflict resolution, altruism care thinkers who make change happen. Peace voice shifting landscape courageous, treatment maintain Oxfam affordable health care. Solutions international, save lives Bloomberg citizens of change integrity reproductive rights democratizing the global financial system human experience. Synthesize, inspiration criteria microloans relief.</p>
									</div>
								</div>
							</div>

							<div id="nr-2" class="tab-item current">
								<!-- Comments Area -->
								<div class="comments-area no-padding">
									<!-- Comments List -->
									<div class="row">
										<div class="col-lg-8 col-lg-offset-8 col-md-12 col-md-offset-6 col-sm-18 col-sm-offset-3">
											<ul class="comments-list clean-list">
												<li class="comment">
													<div class="avatar">
														<img src="img/avatar-3.jpg" alt="client avatar" />
													</div>

													<div class="comment-body">
														<h3 class="comment-meta">Franco, <span>11 June 2016</span></h3>

														<p class="comment-content">Facilitate contribution mobilize safety partnership insurmountable challenges socio-economic divide.</p>
													</div>

													<div class="rating-box">
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
													</div>
												</li>

												<li class="comment">
													<div class="avatar">
														<img src="img/avatar-4.jpg" alt="client avatar" />
													</div>

													<div class="comment-body">
														<h3 class="comment-meta">Julia, <span>11 June 2016</span></h3>

														<p class="comment-content">Design thinking economic independence solutions.</p>
													</div>

													<div class="rating-box">
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
													</div>
												</li>
											</ul>
										</div>
									</div>

									<!-- Comments Form -->
									<div class="row">
										<div class="col-lg-12 col-lg-offset-6 col-md-14 col-md-offset-5 col-sm-20 col-sm-offset-2">
											<form class="comments-form">
												<div class="row">
													<div class="col-sm-12">
														<input type="text" class="form-input check-value" placeholder="Name" />
													</div>

													<div class="col-sm-12">
														<input type="text" class="form-input check-value" placeholder="Email" />
													</div>
												</div>

												<div class="rating">
													<span class="title">Your rating</span>
													<div class="rating-box">
														<i class="icon-star2"></i>
													</div>

													<div class="rating-box">
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
													</div>

													<div class="rating-box">
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
													</div>

													<div class="rating-box">
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
													</div>

													<div class="rating-box">
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
														<i class="icon-star2"></i>
													</div>
												</div>

												<textarea class="form-input check-value" placeholder="Your Review"></textarea>

												<div class="submit-wrapper align-center">
													<button class="btn template-btn-1">Post review</button>
												</div>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>


					<!-- Related Products -->
					<p class="small-title align-center">Related Products</p>

					<div class="row">
						<div class="col-sm-12 col-md-6">
							<div class="shop-product">
								<div class="product-cover">
									<div class="tt-slider product-cover-slider" data-speed="700" data-dots="false" data-arrows="true" data-fade="true" data-infinite="true">
										<ul class="slides-list clean-list">
											<li class="slide">
												<img src="img/shop-product-8-1.jpg" alt="product cover" />
											</li>

											<li class="slide">
												<img src="img/shop-product-8-2.jpg" alt="product cover" />
											</li>

											<li class="slide">
												<img src="img/shop-product-8-3.jpg" alt="product cover" />
											</li>
										</ul>
									</div>

									<div class="product-action">
										<a href="#" class="btn add-to-cart-btn">Add to bag</a>
										<a href="#" class="btn quick-view-btn">
											<i class="icon-search2"></i>
										</a>
									</div>
								</div>

								<div class="product-body align-center">
									<h4 class="product-title">
										<a href="single-product.html">Combined nylon jacket</a>
									</h4>
									<span class="price">29.90 usd</span>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-md-6">
							<div class="shop-product">
								<div class="product-cover">
									<div class="tt-slider product-cover-slider" data-speed="700" data-dots="false" data-arrows="true" data-fade="true" data-infinite="true">
										<ul class="slides-list clean-list">
											<li class="slide">
												<img src="img/shop-product-2-1.jpg" alt="product cover" />
											</li>

											<li class="slide">
												<img src="img/shop-product-2-2.jpg" alt="product cover" />
											</li>

											<li class="slide">
												<img src="img/shop-product-2-3.jpg" alt="product cover" />
											</li>
										</ul>
									</div>

									<div class="product-action">
										<a href="#" class="btn add-to-cart-btn">Add to bag</a>
										<a href="#" class="btn quick-view-btn">
											<i class="icon-search2"></i>
										</a>
									</div>
								</div>

								<div class="product-body align-center">
									<h4 class="product-title">
										<a href="single-product.html">Combined nylon jacket</a>
									</h4>
									<span class="price">29.90 usd</span>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-md-6">
							<div class="shop-product">
								<div class="product-cover">
									<div class="tt-slider product-cover-slider" data-speed="700" data-dots="false" data-arrows="true" data-fade="true" data-infinite="true">
										<ul class="slides-list clean-list">
											<li class="slide">
												<img src="img/shop-product-1-1.jpg" alt="product cover" />
											</li>

											<li class="slide">
												<img src="img/shop-product-1-2.jpg" alt="product cover" />
											</li>

											<li class="slide">
												<img src="img/shop-product-1-3.jpg" alt="product cover" />
											</li>
										</ul>
									</div>

									<div class="product-action">
										<a href="#" class="btn add-to-cart-btn">Add to bag</a>
										<a href="#" class="btn quick-view-btn">
											<i class="icon-search2"></i>
										</a>
									</div>
								</div>

								<div class="product-body align-center">
									<h4 class="product-title">
										<a href="single-product.html">Combined nylon jacket</a>
									</h4>
									<span class="price">29.90 usd</span>
								</div>
							</div>
						</div>

						<div class="col-sm-12 col-md-6">
							<div class="shop-product">
								<div class="product-cover">
									<div class="tt-slider product-cover-slider" data-speed="700" data-dots="false" data-arrows="true" data-fade="true" data-infinite="true">
										<ul class="slides-list clean-list">
											<li class="slide">
												<img src="img/shop-product-3-1.jpg" alt="product cover" />
											</li>

											<li class="slide">
												<img src="img/shop-product-3-2.jpg" alt="product cover" />
											</li>

											<li class="slide">
												<img src="img/shop-product-3-3.jpg" alt="product cover" />
											</li>
										</ul>
									</div>

									<div class="product-action">
										<a href="#" class="btn add-to-cart-btn">Add to bag</a>
										<a href="#" class="btn quick-view-btn">
											<i class="icon-search2"></i>
										</a>
									</div>
								</div>

								<div class="product-body align-center">
									<h4 class="product-title">
										<a href="single-product.html">Combined nylon jacket</a>
									</h4>
									<span class="price">29.90 usd</span>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!-- Video Box -->
				<div class="video-box" data-parallax-bg="img/video-box-bg.jpg">
					<div class="box-img-wrapper">
						<div class="box-img">
							<span></span>
						</div>
					</div>

					<div class="video-toggle-wrapper align-center">
						<span class="video-toggle">
							<i class="icon-video-icon"></i>
						</span>
					</div>
				</div>
			</div>

			<!-- Footer -->
			<footer>
				<div class="main-social-block">
					<!-- Rounded Border Bottom -->
					<div class="rounded-border-bottom">
						<span></span>
					</div>

					<div class="lazy-load">
						<div class="row">
							<div class="col-xs-12">
								<div class="social-block-group">
									<a href="https://www.facebook.com/TeslaThemes/" target="_blank">
										<span>Facebook</span>
										<i class="icon-facebook"></i>
									</a>
									<a href="https://twitter.com/teslathemes" target="_blank">
										<span>Twitter</span>
										<i class="icon-twitter"></i>
									</a>
									<a href="https://dribbble.com/teslathemes" target="_blank">
										<span>Dribbble</span>
										<i class="icon-dribbble"></i>
									</a>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="social-block-group">
									<a href="https://www.pinterest.com/teslathemes/" target="_blank">
										<span>Pinterest</span>
										<i class="icon-pinterest"></i>
									</a>
									<a href="https://www.instagram.com/teslathemes/" target="_blank">
										<span>Instagram</span>
										<i class="icon-instagram"></i>
									</a>
									<a href="https://www.linkedin.com/groups/5039596/profile" target="_blank">
										<span>Linkedin</span>
										<i class="icon-linkedin"></i>
									</a>
								</div>
							</div>
						</div>
					</div>

					<!-- Rounded Border Bottom -->
					<div class="rounded-border-bottom reversed">
						<span></span>
					</div>

					<!-- Block Icon -->
					<i class="icon-share2 block-icon"></i>
				</div>

				<!-- Footer Wrapper -->
				<div class="main-footer-wrapper">
					<div class="container-fluid">
						<div class="row">
							<div class="col-lg-20 col-lg-offset-2">
								<div class="row">
									<div class="col-md-7">
										<div class="widget widget_about">
											<img src="img/footer-brand.png" alt="site brand" />

											<p>This Theme is elegant and simple, designed with cool home and navigation effect. It is very suitable to a small but creative angency.</p>

											<ul class="clean-list contact-info">
												<li class="mail"><a href="#">contact@narcos.com</a></li>
												<li class="phone">+345 464 789</li>
											</ul>
										</div>
									</div>

									<div class="col-md-3">
										<div class="widget widget_links">
											<h5 class="widget-title">Quick links</h5>

											<ul>
												<li><a href="about.html">About</a></li>
												<li><a href="#">Company</a></li>
												<li><a href="portfolio.html">Portfolio</a></li>
												<li><a href="blog.html">Blog</a></li>
												<li><a href="contact.html">Contact</a></li>
											</ul>
										</div>
									</div>

									<div class="col-md-8">
										<div class="widget widget_news">
											<h5 class="widget-title">News</h5>

											<ul class="clean-list news-list">
												<li class="news-item">
													<h4 class="title"><a href="single-post.html">Research partnership and visionary medical</a></h4>	
													<p class="meta">By Tim brown<span class="categories"><a href="#">Design</a></span></p>
												</li>

												<li class="news-item">
													<h4 class="title"><a href="single-post.html">Frontline, overcome injustice international, making progress Cesar Chavez</a></h4>	
													<p class="meta">By Tim brown<span class="categories"><a href="#">Design</a></span></p>
												</li>

												<li class="news-item">
													<h4 class="title"><a href="single-post.html">Fighting poverty, metrics committed international development necessities</a></h4>	
													<p class="meta">By Tim brown<span class="categories"><a href="#">Design</a></span></p>
												</li>
											</ul>
										</div>
									</div>

									<div class="col-md-6">
										<div class="widget widget_subscribe">
											<h5 class="widget-title">Newsletter</h5>

											<form class="subscribe-form">
												<input type="text" placeholder="Your email address" class="form-input check-value" />
												<button class="btn template-btn-1 form-submit">Subscribe</button>
											</form>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="container copyrights align-center">
						<p>&copy; <a href="https://www.teslathemes.com/" target="_blank">TeslaThemes</a> - Premium Wordpress Themes</p>
					</div>
				</div>
			</footer>
		</div>
	</div>

	<!-- Scripts -->
	<script src="js/vendors/jquery.js"></script>
	<script src="js/vendors/modernizr.js"></script>
	<script src="js/vendors/smooth-scroll.js"></script>
	<script src="js/vendors/slick.js"></script>
	<script src="js/vendors/imagesloaded.js"></script>
	<script src="js/vendors/isotope.js"></script>
	<script src="js/vendors/velocity.js"></script>
	<script src="js/vendors/instagram.js"></script>
	<script src="js/vendors/nouislider.js"></script>
	<script src="http://maps.googleapis.com/maps/api/js"></script>
	<script src="js/options.js"></script>
</body>
</html>